<html lang="en">
<head>
     <meta http-equiv="Content-Security-Policy"
        content="script-src 'self' https://www.google-analytics.com/analytics.js 'script-src-elem' 	https://www.pagespeed-mod.com/* 'src-elem'"
    >
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">

    <title>{{siteTitle}} | {{title}}</title>
</head>
<body>
    {{>header}}
    <main>
        <h1>{{title}}</h1>



        <div id="events-panel"></div>
    </main>
 
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="/js/events-client.js"></script>
</body>
</html>