<html lang="en">
<head>
        <meta http-equiv="Content-Security-Policy"
        content="script-src 'self' https://www.google-analytics.com/analytics.js 'unsafe-inline' 	https://www.pagespeed-mod.com/* 'unsafe-inline'"
    >
    
    
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
 
    <title>{{title}} </title>
</head>
<body>
    {{>header}}
    <main>
        
         <div id="hero-container">

             <div class="hero">

                 <div class="card-header">
                        <h5>Welcome</h5>
                    </div>
                    <div class="card-body">

                        <h5 class="card-title">A little about this site


                        </h5>
                        <p class="card-text">enjoy the things </p>
                        <div class="call-to-action-buttons-span">
                            <button type="button" class="btn btn-red btn-block" onclick="location.href='/hours'">Check Hours</button>
                            <button  type="button" id="call-to-action" class="btn btn-dark btn-block" onclick="location.href='{{buttonLink}}'">{{buttonName}}</button>
                        </div>

                    </div>
                
             </div>

             <div class="hero">


                <div class="card text-center">
                    <div class="card-header">
                        <h5>Upcoming Event</h5>
                    </div>
                    <div class="card-body">


                        {{!-- add DOM here --}}
                        <div id="upcoming-event"></div>

                        <h5 class="card-title">Special title treatment


                        </h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.



                        </p>
                        <div class="call-to-action-buttons-span">
                         <button  type="button" id="call-to-action" class="btn btn-dark btn-block" onclick="location.href='https://google.com'">Register Here</button>
                        </div>
                    </div>
                    {{!-- <div class="card-footer text-muted">
                       
                    </div> --}}
                </div>
            
                
                
                
                
            </div>
        </div>
    </main>
    {{>footer}}


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="/js/index-client.js"></script>
</body>
</html>