<div id="index-container" class=" row">

                <div class="cards col-md-4">


                    <div class="card shadow">
                        <div class="about-crop">
                            <img class="about-img" src="/assets/icons/upcoming.svg" alt="succulent">
                        </div>
                            <div class="card-body">
                                <h4 class="card-title">Upcoming Events </h4>
                                <p class="text-muted">BAP - Xi Epsilon hosts many events. To ensure you come to upcoming events, visit the home page regularly.</p>
                                <button type="button" class="btn btn-danger " onclick="location.href='/'">Check Upcoming Event</button>
                               
                        </div>
                    </div>
                
                </div>
                <div class="cards col-md-4">
                    <div class="card shadow">
                            <div class="about-crop">
                                <img class="about-img" src="/assets/icons/check.svg" alt="succulent">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Check Hours </h4>
                                <p class="text-muted">You can check your hours by entering your student ID. If you have reached the requirements needed to become a full member, you will be able to find a link to your certificate on your profile. </p>
                                <button type="button" class="btn btn-danger " onclick="location.href='/hours'">Check Hours</button>
                              
                        </div>
                    </div>
                </div>
                <div class="cards col-md-4">
                    <div class="card shadow">
                            <div class="about-crop">
                                <img class="about-img" src="/assets/icons/events.svg" alt="succulent">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Register For Events</h4>
                                <p class="text-muted">We send our invites through different communication channels. This portal aims to summarise all those events into one page that you can easily access.  </p>
                                <button type="button" class="btn btn-danger " onclick="location.href='/events'">Register for Events</button>
                                
                        </div>
                    </div>
                </div>





                </div>  
        </div>