
<!-- Footer --> 
<footer  class="footer text-white-50">
    <div class="container text-center">
      <p>© {{dateYear}} Beta Alpha Psi - Xi Epsilon Chapter</p>
    </div>
  <!-- Copyright -->
</footer>