{{!-- <div id="header-color"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img height="60"src='/assets/logo.png'> <b>Xi Epsilon Portal</b></a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <a class="nav-item nav-link"  href="/hours">Hours</a>
            <a class="nav-item nav-link"href="/events">Events</a>
        </ul>
    </div>
</nav>

 --}}


<header>

    
    <!-- Navigation -->
    <nav id="header-red" class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
        <a class="navbar-brand" href="/"><img height="60"src='/assets/logo.png'> Xi Epsilon Portal</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="sr-only">Toggle navigation</span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link"  href="/hours">Hours</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link"href="/events">Events</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

</header>