main{
	padding:15px 5%  25px 5% ;
	height:auto;
    
}


html, main, body{
    font-family:Avenir;
}


body{
    background-color: #f1dfd1;
    background-image: linear-gradient(120deg, #fff 0%, rgb(240, 239, 239) 50%);

}


/* footer */
.footer .container {
    background-color: #6d0000;
    padding-top:15;
    padding-bottom:15;
}
.footer {
    background-color: #6d0000;
    width: 100%;
}


/* hamburger */

#header-red{
	width: 100%;
	background-color: #6d0000 !important;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.sec-accent {
  background-color: #fafcf5;
}

.blue {
  background-color: #9999cc;
}

/* Index */



#index-container{
    
}



#hour-container{
	vertical-align: middle;
    text-align: center;
}

/* Cards */

.dashboard-card-red{
	padding:10%;
	height:30vh;
	background-color: #6D0100;
}

.dashboard-card-dark{
	padding:10%;
	height:30vh;
	background-color: #23282B;
}

.dashboard-card-alert-title-red{
	padding:2%;
	background-color: #6D0100;
}
.dashboard-card-alert-title-light{
	padding:2%;
	background-color: #FFF;
}
.cards{

	margin-top:5vh;
    text-align: center;
    width:auto;
    
}
.full-card{
	width: 100%;
}
.crop {
	height: 150px;

	overflow: hidden;
}

.crop img {
	height: auto;
	width: 100%;
}
/* Hours */
.panel-group{
	font-size: 2.5vh;
}
.panel-group .list-group {
	margin-bottom: 0;
	
}

.panel-group .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
	border-bottom: none;
}


/* Preloader */


.squares-preloader {
	margin-top:5vh;
	margin-bottom:15vh;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	animation: scale ease 1.4s infinite;
}



.squares-preloader::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: #BD2336;
	top: -10px;
	left: -10px;
	animation: top ease 3s infinite;
}

.squares-preloader::after {
	content: '';
	position: absolute;
    width: 15px;
	height: 15px;
	background: #BD2336;
	bottom: -10px;
	right: -10px;
	animation: bottom ease 3s infinite;
}



@keyframes top{
	0%{
		top: -10px;
	}
	20%{
		top: 100%;
		left: -10px;
	}
	40%{
		left: 100%;
		top: 100%;
		transform: rotate(180deg);
	}
	60%{
		top: -10px;
		left: 100%;
	}
	80%{
		top: -10px;
		transform: rotate(360deg);
	}
	100%{
		left: -10px;
	}
}

@keyframes bottom{
	0%{
		bottom: -10px;
	}
	20%{
		bottom: 100%;
		right: -10px;
	}
	40%{
		right: 100%;
		bottom: 100%;
		transform: rotate(180deg);
	}
	60%{
		bottom: -10px;
		right: 100%;
	}
	80%{
		bottom: -10px;
		transform: rotate(360deg);
	}
	100%{
		right: -10px;
	}
}

@keyframes scale{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.7);
	}
	100%{
		transform: scale(1);
	}
}